extends ../layouts/default

block main
  .short_message
    h3="your browser is not supported"
    .row.span4.container.well.short_message
      p="WebRtc is only supported on the most cutting edge browsers and this website was specifically designed to use it. Please use the latest version of Chrome"
      a.btn.btn-primary.btn-large(href='https://www.google.com/intl/en/chrome/browser/')="Get it here"

