extends ../layouts/default

block main
  .row
    .span4.container
      #buddylist.well
        p='Active Users'
        table.table.table-striped.table-bordered
          thead
            tr
              th 
              th Person
              th Action
          tbody#buddylistrows
            include list
    .span8.container
      #chatarea.well
        "Chat area"
block extrajs
  script(src='/socket.io/socket.io.js');
  script(src='/js/templates.js');
  script(src='/js/require.js', data-main='/js/conference.js')
  script#users_list(type='text/json')!=JSON.stringify(users)

